/* Contact Page CSS */

.contact-page{
  display: flex;
  margin: 40px 40px;
}

.contact-content{
  padding: 50px 50px 50px 50px;
  width: 100%;
  border: 2px solid gray;
  border-radius: 15%;
  background-color: lightslategrey;
}


