/* NavBar Page CSS */

.navbar-page{
  padding: 30px 30px;
  background-color: darkgrey;
}

.navbar-brand{
  margin-left: 10px;
}

.navbar-container{
  display: flex;
}

.navbar-content{
  width: 100%;
}


.navbar-button1{}

.navbar-button2{}

.navbar-button3{}

.navbar-button4{}

