/* POrtfolio Page CSS */

/* .port-page{
} */

.port-content{
  /* display: flex; */
  align-items: center;
  text-align: center;
  vertical-align: middle;
  padding: 50px 50px;
  justify-content: center;
}

.port-project{
  height: auto;
  background-color: lightslategrey;
  border-radius: 15%;

}

.port-project-image{
  padding: 20px 20px;
  /* border-radius: 15%; */
}

.port-project-body{
  padding: 20px 20px;
  border-radius: 15%;
}

/* .port-project2{
  height: 50%;
  background-color: lightslategrey;
  border-radius: 15%;
}

.port-project2-image{
  padding: 20px 20px;
  border-radius: 15%;

}
.port-project3{
  height: 50%;
  background-color: lightslategrey;
  border-radius: 15%;
}

.port-project3-image{
  padding: 20px 20px;
  border-radius: 15%;

}
.port-project4{
  height: 50%;
  background-color: lightslategrey;
  border-radius: 15%;
}

.port-project4-image{
  padding: 20px 20px;
  border-radius: 15%;

}
.port-project5{
  height: 50%;
  background-color: lightslategrey;
  border-radius: 15%;
}

.port-project5-image{
  padding: 20px 20px;
  border-radius: 15%;
} */
