/* POrtfolio Page CSS */

.port-page{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.port-content{
  padding: 50px 0px;
}

.port-project1{
  height: 100%;
  background-color: lightslategrey;
  border-radius: 15%;

}

.port-project1-image{
  padding: 20px 10px;
}

.port-project1-button {}

.port-project2{
  height: 100%;
  background-color: lightslategrey;
  border-radius: 15%;
}

.port-project2-image{
  padding: 20px 10px;

}

.port-project2-button{}